.navbar{
    color: #ffffff !important;
    background-color: #070724 !important;
    background-image: url("../../public/assets/background-stars.svg");
    height: 80px !important;
    padding: 0 !important;

    .collapse{
        display: flex;
        justify-content: end;
    }
}