@import '~bootstrap/scss/bootstrap.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  background-color: #070724;
  background-image: url(../public/assets/background-stars.svg);
  height: 100vh;
  color: #FFFFFF;
  font-family: 'Antonio', sans-serif;
}

